.DS_Store
.vscode
node_modules
**/*/node_modules
**/**/grpc/*
**/*/target
**/*/*.node
**/*/build
**/*/*.pem
**/*/*.mp3
**/*/temp/*
**/*/toy
**/toy
*.lock
.vscodeignore
.yarnrc
*.test.js
*.test.ts
*.test.js.*
*.js.map
*/**/dist
*/dist
JSLook.code-*